.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 4em;
}

.home-container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home-container h1 span {
    color: #02398a;
}

.home-container p {
    margin-bottom: .5em;
    font-size: 1.4em;
    color: #7b7b7b;
}

.home-container img {
    width: 400px;
    margin: 2em 0;
}

@media screen and (max-width: 858px) {

    .home-container h1 {
        font-size: 7vw;
        text-align: center;
    }

    .home-container p {
        font-size: 3vw;
    }

    .navbar-container {
        flex-direction: column;
        margin: 0 auto;
    }

    .navbar-container .logo {
        margin: 20px auto;
    }

    .navbar-container .list {
        display: none;
    }

    .navbar-container.list-open {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .navbar-container .list .item {
        margin: 0 auto;
    }

    .logo-top-bar svg {
        display: block;
    }

    .home-container img {
        width: 200px;
        margin: 2em 0;
    }

    .navbar-container .list .title {
        width: 100%;
        text-align: center;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .extract-topbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .extract-title {
        padding-bottom: 15px;
        font-size: 4vw;
    }

    .extract-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .extract-form .actionButton {
        width: 100%;
    }

    .actionButton span {
        font-size: 3vw;
    }

    .account-form-left,
    .operation-form-left {
        display: none;
    }

    .nodata-container {
        height: auto;
        padding: 1em;
        justify-content: flex-start;
        min-height: auto;
    }

    .nodata-container h1 {
        font-size: 5vw;
        text-align: center;
    }

    .nodata-container img {
        width: 50%;
        height: auto;
    }

    .balance-topbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .balance-title {
        padding-bottom: 15px;
        font-size: 4vw;
    }

    .account-list-container .title {
        font-size: 2vw;
    }

    .balance-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .balance-form .actionButton {
        width: 100%;
    }

    table {
        border: 0;
    }
   
    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 5px;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

@media screen and (max-width: 404px) {
    .account-list table td .email {
        font-size: 3vw;
    }   
}