.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg, #020024 0%, #013786 0%, #034ebe 100%);
    padding: .4em;
    width: 100%;
}

.navbar-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.logo-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-top-bar svg {
    display: none;
    cursor: pointer;
}

.navbar-container .list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.item, .logout-btn {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.item a:hover, .item a:active {
    background-color: #217ef0;
}

.logout-btn {
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    margin-left: 0;
    font-size: 1em;
}

.logout-btn:hover {
    background-color: #217ef0;
}

.logo {
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    filter: brightness(1.8);
}