.guest-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
    background: rgba(darken(#2196f3, 40%), 0.85);
    background-size: cover;
}

.guest-form {
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    width: 600px;
    background: #ffffff;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.guest-form-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guest-form input {
    display: block;
    padding: 15px 10px;
    margin: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #555555;
}

.guest-form .title {
    filter: brightness(.4);
    margin: 10px 0 10px 0;
    text-align: center;
}

.guest-form .subtitle {
    padding-bottom: 20px;
    text-align: center;
    font-size: .8em;
    color: #8d8d8d;
}

.guest-form .title:hover {
    filter: brightness(0);
}

.guest-form-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.guest-form button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #2196F3;
    color: #fff;
    border: none;
    height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
    border-bottom-width: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guest-form button[type="submit"] {
    border-radius: 0 0 10px 0;
}

.guest-form button[type="button"] {
    background: #5f5f5f;
    border-radius: 0 0 0 10px;
}

.guest-form button:hover {
    background: #0b7dda;
}

.guest-form button:disabled {
    cursor: not-allowed;
    background-color: #333;
}

@media screen and (max-width: 830px) {
    .guest-form {
        width: 100%;
    }

    .guest-form-inputs {
        flex-direction: column;
    }
}