.operation-container {
    width: 1200px;
    margin: 0 auto;
    padding: 1em;
}
.operation-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbcbcb;
    border-radius: 5px;
    padding: .5em 1em;
}
.operation-topbar .operation-title {
    color: #605f5f;
    display: flex;
    justify-content: space-between;
}

.operation-topbar .operation-title h1 {
    font-size: 1.5em;
}

.operation-form-container {
    width: 1200px;
    padding-top: 20px;
}

.operation-form-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin-top: 20px;
}

.operation-form-left {
    flex-grow: 1;
}

.operation-form {
    margin: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.operation-form .form { 
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px #ccc;
}

.operation-form h2 {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.operation-form .error-message {
    color: white;
    background-color: #e74c3c;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.operation-input {
    width: 100%;
}

.operation-input label {
    font-size: .8em;
    color: #464545;
    text-transform: uppercase;
}

.operation-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1cfcf;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.operation-form-btns {
    display: flex;
    justify-content:flex-end; 
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.operation-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #013786;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;    
    justify-content: center;
    border-radius: 5px;
}

.operation-form button.secondary {
    background-color: #333;
}

.operation-form button svg {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    animation: loading-spinner 1s linear infinite;
}

.operation-form button:hover:enabled {
    filter: brightness(2);
}

.operation-form button:disabled {
    cursor: not-allowed;
    background-color: #333;
}