.extract-container {
    width: 1200px;
    margin: 0 auto;
    padding: 1em;
}
.extract-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbcbcb;
    border-radius: 5px;
    padding: .5em 1em;
    margin-bottom: 15px;
}
.extract-topbar .extract-title {
    color: #605f5f;
    display: flex;
    justify-content: space-between;
}

.extract-topbar .extract-title h1 {
    font-size: 1.5em;
}

.extract-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extract-form .input {
    padding: 8px;
    border: 1px solid #d1cfcf;
    border-radius: 5px;
    margin-right: 10px; 
}

.extract-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.extract-info span {
    font-weight: bold;
}

.extract-list {
    margin-bottom: 3em;
    box-shadow: 2px 2px 5px 0px #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.extract-list table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.extract-list table th {
    background-color: #2b3348;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    font-weight: normal;
    border: 1px solid #d1cfcf;
}

.extract-list table td {
    padding: 1em 1em;
    text-align: left;
    font-size: .9em;
    border: 1px solid #d1cfcf;
}
.extract-list table td .operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.extract-list table td .income {
    color: forestgreen;
    font-weight: bold;
}
.extract-list table td .outcome {
    color: maroon;
    font-weight: bold;
}
.extract-list table td svg {
    width: 18px;
    height: 18px;
}

.extract-list table td svg[data-icon="edit"] {
    margin-right: 1em;
}

.extract-list table tr:nth-child(even) {
    background-color: #f6f6f6;
}

.extract-list .td-extract-value {
    text-align: right;
}

.extract-list .td-extract-date {
    text-align: right;
}

.extract-list .td-extract-total {
    text-align: right;
    font-weight: bold;
}